/* ここに記載 */
h1 {
 color: blue;
 margin-bottom: 2rem;
 font-size: 3rem;
 }

p {
 font-size: 1rem;
}

img {
    width: 200px;
    height: auto;
    display: block;
}

a:hover {
    color: orange;
}    

button {
    color: blue;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: orange;
}